@page
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using youtube_dl_viewer
<!DOCTYPE html>

<html lang="en">
<head>
    <title>@(Program.Args.HTMLTitle)</title>
    
    @if (Program.DEBUG)
    {
        @foreach (var css in Router.CSS_MAIN) { <link rel="stylesheet" type="text/css" href="/@css.Item2?v=@Program.Version"> }
    }
    else
    {
        <link rel="stylesheet" type="text/css" href="/style_main.combined.css?v=@Program.Version">
    }
    
    @if (Program.Args.Themes.Any(p => p.Name == Program.Args.OptThemeMode))
    {
        <link id="theme_style_obj" rel="stylesheet" type="text/css" href="@Program.Args.Themes.First(p => p.Name == Program.Args.OptThemeMode).URI?v=@Program.Version">
    }
    else
    {
        <link id="theme_style_obj" rel="stylesheet" type="text/css" href="@Program.Args.Themes[0].URI?v=@Program.Version">
    }
    
    @if (Program.DEBUG)
    {
        @foreach (var js in Router.JS_MAIN) { <script src="/@js.Item2?v=@Program.Version"></script> }
    }
    else
    {
        <script src="/script_main.compiled.js?v=@Program.Version"></script>
    }
    
</head>

<body>

<div id="options" class="nodisplay"

     data-program-version="@Program.Version"
     
     data-themelist="@(new JArray
                         (
                         Program.Args.Themes.Select((p,i) => new JObject
                             (
                             new JProperty("index", i), 
                             new JProperty("text", $"Theme: {p.Name}"), 
                             new JProperty("keys", new JArray(p.SelectorID, i.ToString())),
                             new JProperty("url", p.URI+"?v="+Program.Version),
                             new JProperty("name", p.Name),
                             new JProperty("enabledGlobal", !Program.Args.OptDisabledThemes.Any(q => string.Equals(q, p.Name, StringComparison.CurrentCultureIgnoreCase))),
                             new JProperty("enabledPerDir", true),
                             new JProperty("enabledByLogic", true)
                             )).ToArray<object>() 
                         ).ToString(Formatting.None))"
     
     data-dirlist="@(new JArray
                    (
                        Program.Args.DataDirs.Select((p,i) => new JObject
                        (
                            new JProperty("index", i), 
                            new JProperty("text", p.Name), 
                            new JProperty("keys", new JArray(p.SelectorID, i.ToString())),
                            new JProperty("name", p.Name),
                            new JProperty("enabledGlobal", true),
                            new JProperty("enabledPerDir", true),
                            new JProperty("enabledByLogic", true)
                        )).ToArray<object>() 
                    ).ToString(Formatting.None))"
     
     data-displaymode="@Program.Args.OptDisplayMode"
     data-ordermode="@Program.Args.OptOrderMode"
     data-widthmode="@Program.Args.OptWidthMode"
     data-thumbnailmode="@Program.Args.OptThumbnailMode"
     data-videomode="@Program.Args.OptVideoMode"
     data-theme="@Program.Args.OptThemeModeInt"
     data-dir="0"
     
     data-disabled-displaymode="@(new JArray(Program.Args.OptDisabledDisplayModes.Cast<object>().ToArray()).ToString(Formatting.None))"
     data-disabled-ordermode="@(new JArray(Program.Args.OptDisabledOrderModes.Cast<object>().ToArray()).ToString(Formatting.None))"
     data-disabled-widthmode="@(new JArray(Program.Args.OptDisabledWidthModes.Cast<object>().ToArray()).ToString(Formatting.None))"
     data-disabled-thumbnailmode="@(new JArray(Program.Args.OptDisabledThumbnailModes.Cast<object>().ToArray()).ToString(Formatting.None))"
     data-disabled-videomode="@(new JArray(Program.Args.OptDisabledVideoModes.Cast<object>().ToArray()).ToString(Formatting.None))"
     data-disabled-theme="@(new JArray(Program.Args.OptDisabledThemes.Cast<object>().ToArray()).ToString(Formatting.None))"
     
     data-has_ffmpeg="@Program.HasValidFFMPEG" 
     data-has_cache="@(Program.Args.CacheDir != null)"
     data-has-multiple-dirs="@(Program.Args.DataDirs.Count > 1)"
     
     data-previewcount-config-min="@(Program.Args.MinPreviewImageCount)"
     data-previewcount-config-max="@(Program.Args.MaxPreviewImageCount)"

></div>

<div id="root">

    <header>
        <div id="header_normal" class="header_div">
            <div class="logo">
                <div class="apptitle">youtube-dl Viewer <span class="version">@Program.Version</span></div>
                <div class="apppath @Html.Raw((Program.Args.DataDirs.Count > 1) ? "multiple" : "single") invisible">
                    <span>@Program.Args.DataDirs.First().Name</span>
                    <i class="fas fa-chevron-down"></i>
                </div>
                <div id="apppath_dropdown" class="dropdown hidden">
                    <!-- js -->
                </div>
            </div>

            <div class="buttons">
                <div class="btn btn-adminlinks"><i class="fas fa-terminal"></i></div>
                
                <div class="btnpad"></div>
                
                <div class="btn btn-display"><i class="far fa-eye"></i></div>
                
                <div class="btn btn-order"><i class="fas fa-sort"></i></div>
                
                <div class="btn btn-width"><i class="fas fa-text-width"></i></div>
                
                <div class="btn btn-loadthumbnails"><i class="fas fa-photo-video"></i></div>
                
                <div class="btn btn-videomode"><i class="fas fa-broadcast-tower"></i></div>
                
                <div class="btnpad"></div>
                
                <div class="btn btn-theme"><i class="fas fa-palette"></i></div>
                
                <div class="btnpad"></div>
                
                <div class="btn btn-refresh"><i class="fas fa-sync-alt"></i></div>
                
                <div id="option_dropdown" class="dropdown hidden"></div>
            </div>
        </div>
        <div id="header_videoplayer" class="header_div nodisplay">
            <div class="left">
                <div class="title"><!-- --></div>
                <div class="type"><!-- --></div>
            </div>

            <div class="buttons">
                <div class="btn btn-close-videoplayer"><i class="fas fa-times"></i></div>
            </div>
        </div>
    </header>

    <main>
        <div class="" id="content"></div>
        
        <div class="lds-grid"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </main>

    <footer>
        <hr/>
        youtube-dl Viewer (c) <a href="https://www.mikescher.com">mikescher.com</a> 2020
    </footer>

    <div id="dropdown_background" class="hidden">&nbsp;</div>

</div>

<div id="font_test_header">X</div>

<div id="toast"></div>

</body>
</html>