@page
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using youtube_dl_viewer
<!DOCTYPE html>

<html lang="en">
<head>
    <title>@(Program.Args.HTMLTitle)</title>
    
    <link rel="stylesheet" type="text/css" href="/fontawesome.css">
    <link rel="stylesheet" type="text/css" href="/solid.css">
    <link rel="stylesheet" type="text/css" href="/regular.css">
    
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" type="text/css" href="/style_animation.css">
    <link rel="stylesheet" type="text/css" href="/style_width.css">
    <link rel="stylesheet" type="text/css" href="/style_video.css">
    
    <link rel="stylesheet" type="text/css" href="/style_compact.css">
    <link rel="stylesheet" type="text/css" href="/style_detailed.css">
    <link rel="stylesheet" type="text/css" href="/style_detailed_expanded.css">
    <link rel="stylesheet" type="text/css" href="/style_grid.css">
    <link rel="stylesheet" type="text/css" href="/style_tabular.css">
    
    @if (Program.Args.Themes.Any(p => p.Name == Program.Args.OptThemeMode))
    {
        <link id="theme_style_obj" rel="stylesheet" type="text/css" href="@Program.Args.Themes.First(p => p.Name == Program.Args.OptThemeMode).URI">
    }
    else
    {
        <link id="theme_style_obj" rel="stylesheet" type="text/css" href="@Program.Args.Themes[0].URI">
    }
    
    <script src="/script_main.compiled.js"></script>
    
</head>

<body>

<div id="options" class="nodisplay"

     data-program-version="@Program.Version"
     
     data-themelist="@(new JArray
                     (
                         Program.Args.Themes.Select((p,i) => new JObject
                         (
                             new JProperty("index", i), 
                             new JProperty("text", $"Theme: {p.Name}"), 
                             new JProperty("keys", new JArray(p.SelectorID, i.ToString())),
                             new JProperty("url", $"/themes/{i}"),
                             new JProperty("name", p.Name),
                             new JProperty("enabled", true)
                         )).ToArray<object>() 
                     ).ToString(Formatting.None))"
     
     data-dirlist="@(new JArray
                    (
                        Program.Args.DataDirs.Select((p,i) => new JObject
                        (
                            new JProperty("index", i), 
                            new JProperty("text", p.Name), 
                            new JProperty("keys", new JArray(p.SelectorID, i.ToString())),
                            new JProperty("name", p.Name),
                            new JProperty("enabled", true)
                        )).ToArray<object>() 
                    ).ToString(Formatting.None))"
     
     data-displaymode="@Program.Args.OptDisplayMode"
     data-ordermode="@Program.Args.OptOrderMode"
     data-widthmode="@Program.Args.OptWidthMode"
     data-thumbnailmode="@Program.Args.OptThumbnailMode"
     data-videomode="@Program.Args.OptVideoMode"
     data-theme="@Program.Args.OptThemeModeInt"
     data-dir="0"
     
     data-has_ffmpeg="@Program.HasValidFFMPEG" 
     data-has_cache="@(Program.Args.CacheDir != null)"
     data-has-multiple-dirs="@(Program.Args.DataDirs.Count > 1)"
     
     data-previewcount-config-min="@(Program.Args.MinPreviewImageCount)"
     data-previewcount-config-max="@(Program.Args.MaxPreviewImageCount)"

></div>

<div id="root">

    <header>
        <div class="logo">
            <div class="apptitle">youtube-dl Viewer <span class="version">@Program.Version</span></div>
            <div class="apppath @Html.Raw((Program.Args.DataDirs.Count > 1) ? "multiple" : "single")">
                <span>@Program.Args.DataDirs.First().Name</span>
                <i class="fas fa-chevron-down"></i>
            </div>
            <div id="apppath_dropdown" class="dropdown hidden">
                <!-- js -->
            </div>
        </div>

        <div class="buttons">
            <a class="btn btn-jobpanel" target="_blank" href="/Jobs"><i class="fas fa-terminal"></i></a>
            
            <div class="btnpad"></div>
            
            <div class="btn btn-display"><i class="far fa-eye"></i></div>
            
            <div class="btn btn-order"><i class="fas fa-sort"></i></div>
            
            <div class="btn btn-width"><i class="fas fa-text-width"></i></div>
            
            <div class="btn btn-loadthumbnails"><i class="fas fa-photo-video"></i></div>
            
            <div class="btn btn-videomode"><i class="fas fa-broadcast-tower"></i></div>
            
            <div class="btnpad"></div>
            
            <div class="btn btn-theme"><i class="fas fa-palette"></i></div>
            
            <div class="btnpad"></div>
            
            <div class="btn btn-refresh"><i class="fas fa-sync-alt"></i></div>
            
            <div id="option_dropdown" class="dropdown hidden"></div>
        </div>

    </header>

    <main>
        <div class="" id="content"></div>
        
        <div class="lds-grid"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </main>

    <footer>
        <hr/>
        youtube-dl Viewer (c) <a href="https://www.mikescher.com">mikescher.com</a> 2020
    </footer>

    <div id="dropdown_background" class="hidden">&nbsp;</div>

</div>

<div id="font_test_header">X</div>

<div id="toast"></div>

</body>
</html>